.footer {
    background-color: #fbe4ea;
    @include adaptive-value("padding-top", 30, 28, 1);
    @include adaptive-value("padding-bottom", 30, 25, 1);

    // .footer__container

    &__container {
    }

    // .footer__body

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 600px) {
            flex-direction: column-reverse;
            justify-content: center;
        }

        p {
            font-family: Manrope;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
        }

        nav {
            @media (max-width: 600px) {
                margin-bottom: 28px;
            }

            ul {
                display: flex;
                align-items: center;

                & > :not(:last-child) {
                    @media (min-width: 601px) {
                        @include adaptive-value("margin-right", 44, 20, 1);
                    }
                }

                @media (max-width: 600px) {
                    flex-direction: column;
                    justify-content: center;

                    & > :not(:last-child) {
                        margin-bottom: 11px;
                    }
                }

                li {
                    a {
                        font-family: Manrope;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }
}
