.review {
    border: 1px solid #ecd5db;
    background: #fff;

    @include adaptive-value("padding-top", 29, 23, 1);
    @include adaptive-value("padding-right", 52, 11, 1);
    @include adaptive-value("padding-bottom", 28, 17, 1);
    @include adaptive-value("padding-left", 32, 17, 1);
    @include adaptive-value("border-radius", 25, 20, 1);

    // .review__top

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        @media (max-width: 768px) {
            margin-bottom: 12px;
        }
    }

    // .review__img

    &__img {
        margin-right: 15px;
        flex: 0 0 auto;

        img {
            border-radius: 50%;
            height: 76px;
            width: 76px;
        }
    }

    // .review__info

    &__info {
        span {
            display: block;
            margin-bottom: 4px;
            font-family: Raleway;
            font-weight: 700;
            line-height: 26px;
            
            @media (max-width: 425px) {
                margin-bottom: 2px;
            }
        }

        svg,
        img {
            max-width: 80px;
            fill: #ffcc18;
        }
    }

    // .review__bottom

    &__bottom {
        p {
            font-family: Manrope;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 6px;
        }
        time {
            color: #848484;
            font-family: Manrope;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}
