.section {
    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    // .section__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
            text-align: center;

            max-width: 595px;
            width: 100%;
        }
    }

    // .section__content

    &__content {
    }
}

#features {
    @include adaptive-value("margin-bottom", 66, 24, 1);

    .section__top {
        @include adaptive-value("margin-bottom", 33, 24, 1);

        p {
            @media (max-width: 425px) {
                padding: 0 11px;
            }
        }
    }

    .section__content {
        ol {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 21px 30px;

            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 600px) {
                display: block;
                & > :not(:last-child) {
                    margin-bottom: 10px;
                }
            }

            & > :first-child {
                &:after {
                    @include adaptive-value("right", -176, -128, 1);
                    @include adaptive-value("top", -113, -96, 1);
                }

                &:before {
                    @include adaptive-value("left", -153, -87, 1);
                    @include adaptive-value("bottom", -87, -116, 1);
                }
            }

            & > :nth-child(2) {
                &:after {
                    @include adaptive-value("right", -175, -147, 1);
                    top: 50%;
                    transform: translate(0, -50%);
                }

                &:before {
                    left: 50%;
                    transform: translate(-50%, 0);
                    @include adaptive-value("bottom", -200, -149, 1);
                }
            }

            & > :nth-child(3) {
                &:after {
                    @include adaptive-value("right", -10, -90, 1);
                    @include adaptive-value("top", -187, -132, 1);
                }

                &:before {
                    left: -92px;
                    @include adaptive-value("bottom", -158, -148, 1);
                }
            }

            & > :nth-child(4) {
                &:after {
                    @include adaptive-value("right", -10, -95, 1);
                    @include adaptive-value("top", -187, -150, 1);
                }

                &:before {
                    left: 93px;
                    bottom: -172px;
                }
            }

            & > :nth-child(5) {
                &:after {
                    width: 245px;
                    height: 245px;
                    @include adaptive-value("right", -162, -185, 1);
                    @include adaptive-value("top", -114, -76, 1);
                }

                &:before {
                    width: 245px;
                    height: 245px;

                    @include adaptive-value("left", -153, -106, 1);
                    @include adaptive-value("bottom", -87, -143, 1);
                }
            }

            & > :nth-child(6) {
                &:after {
                    left: 300px;
                    top: 50%;
                    transform: translate(0, -50%);

                    @media (max-width: 768px) {
                        top: -88px;
                        right: -64px;
                    }
                }

                &:before {
                    width: 245px;
                    height: 245px;
                    left: -163px;
                    @include adaptive-value("bottom", -38, -60, 1);
                }
            }

            li {
                @media (max-width: 600px) {
                    height: 290px;
                }
                position: relative;

                &:after,
                &:before {
                    position: absolute;
                    content: "";
                    background-color: #ffffff80;
                    border-radius: 50%;
                    z-index: 0;
                    @include adaptive-value("width", 245, 201, 1);
                    @include adaptive-value("height", 245, 201, 1);
                }

                @include adaptive-value("padding-top", 28, 22, 1);
                @include adaptive-value("padding-bottom", 21, 24, 1);
                @include adaptive-value("padding-left", 32, 15, 1);
                @include adaptive-value("padding-right", 32, 15, 1);

                border-radius: 30px;
                background: #e2f5f8;
                overflow: hidden;

                @media (max-width: 768px) {
                    border-radius: 20px;
                }

                div {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    @include adaptive-value("margin-bottom", 11, 16, 1);

                    h3 {
                        display: block;
                        margin-left: 17px;
                    }
                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @include adaptive-value("font-size", 40, 30, 1);
                        color: #ffb6c1;
                        text-align: center;
                        font-family: Manrope;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 28px;
                        border-radius: 50%;
                        @include adaptive-value("width", 69, 60, 1);
                        @include adaptive-value("height", 69, 60, 1);
                        min-width: 60px;

                        padding: 10px;
                        position: relative;
                        background-color: #fff;
                        z-index: 1;

                        &:before {
                            position: absolute;
                            content: "";
                            left: 50%;
                            top: 50%;
                            @include adaptive-value("width", 57, 50, 1);
                            @include adaptive-value("height", 57, 50, 1);
                            transform: translate(-50%, -50%);
                            border: 1px dashed #b0e0e6;
                            border-radius: 50%;
                        }
                    }
                }

                p {
                    position: relative;
                    z-index: 1;
                    @include adaptive-value("line-height", 28, 24, 1);
                }
            }
        }

        & > :last-child {
            max-width: 973px;
            width: 100%;
            text-align: center;
            font-family: Manrope;
            font-size: 16px;
            line-height: 24px;
            @include adaptive-value("margin-top", 45, 13, 1);
            margin-inline: auto;

            @media (max-width: 425px) {
                padding: 0 3px;
            }
        }
    }
}

#reviews {
    @include adaptive-value("margin-bottom", 53, 24, 1);

    position: relative;
    @include adaptive-value("padding-top", 44, 16, 1);
    @include adaptive-value("padding-bottom", 84, 30, 1);
    background-image: url("@img/reviews/reviewvs-bgi.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 425px) {
        background-image: url("@img/reviews/reviewvs-bgi-mobile.png");
    }

    .section__top {
        p {
            @media (min-width: 425px) {
                br {
                    display: none;
                }
            }
        }
    }

    .section__content {
        position: relative;
    }

    .swiper {
        @media (max-width: 768px) {
            width: 100vw;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 0 14px;
        }
    }

    .swiper__control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% + 150px);
        position: absolute;
        left: -75px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 3;

        @media (max-width: 1360px) {
            width: calc(100% + 60px);
            left: -30px;
        }

        @media (max-width: 768px) {
            position: static;
            width: auto;
            transform: none;
            margin-top: 19px;
            justify-content: center;

            & > :not(:last-child) {
                margin-right: 10px;
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            width: 54px;
            height: 54px;
            background-color: #fff;
            filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.14));

            @media (max-width: 768px) {
                width: 40px;
                height: 40px;
            }

            svg {
                pointer-events: none;
                @media (max-width: 425px) {
                    height: 14px;
                }
            }
        }
    }

    .prev {
    }

    .next {
        svg,
        img {
            transform: rotate(180deg);
        }
    }
}

#faq {
    @include adaptive-value("margin-bottom", 59, 52, 1);

    .section__top {
        @include adaptive-value("margin-bottom", 33, 24, 1);

        p {
            @media (max-width: 425px) {
                padding: 0 22px;
            }
        }
    }

    .accordion {
        & > :not(:last-child) {
            margin-bottom: 10px;
        }

        // .accordion__item

        &__item {
            // .accordion__item-title

            &-title {
                background: #c9e0e1;
                border-radius: 10px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                @include adaptive-value("padding-top", 15, 8, 1);
                @include adaptive-value("padding-bottom", 15, 8, 1);
                @include adaptive-value("padding-left", 32, 14, 1);
                @include adaptive-value("padding-right", 25, 15, 1);

                span {
                    color: #393939;
                    font-family: Manrope;
                    @include adaptive-value("font-size", 18, 15, 1);
                    font-style: normal;
                    font-weight: 600;
                    line-height: 28px;

                    br {
                        display: none;
                    }

                    @media (max-width: 768px) {
                        line-height: 21px;
                    }

                    @media (max-width: 425px) {
                        br {
                            display: block;
                        }
                    }
                }
                svg {
                    margin-left: 15px;
                    width: 13.33px;
                    flex: 0 0 13.33px;
                    transition: all 0.3s ease 0s;
                }
            }

            // .accordion__item-content

            &-content {
                max-width: 1006px;
                width: 100%;
                @include adaptive-value("padding-left", 32, 14, 1);

                p {
                    @include adaptive-value("margin-top", 31, 13, 1);
                    @include adaptive-value("margin-bottom", 34, 15, 1);

                    font-family: Manrope;
                    @include adaptive-value("font-size", 16, 14, 1);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }

            // .accordion__item-content

            &-content {
            }
        }
    }
}
